@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body {
    background-color: HSL(262, 14%, 84%);
}

.color-headers {
    color:HSL(284, 25%, 45%);
    font-family: 'Poppins', 'Roboto', sans-serif;
    font-weight: 500;
}

.color-text {
    color: HSL(240, 8%, 35%);
    font-family: 'Poppins', 'Roboto', sans-serif;
    font-weight: 300;
}

#introduction {
    color: HSL(240, 8%, 35%);
    font-family: 'Poppins', 'Roboto', sans-serif;
    font-weight: 500;
}

h1  {
    text-align: center;
    text-decoration: underline;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 10px;
}

.bullet-square {
    list-style-type: square;
}

button {
    font-family: 'Poppins', 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    background-color:HSL(284, 25%, 45%);
    color:HSL(0, 0%, 100%);
}

button:hover    {
    background-color: orangered;
}